* {
    --color-primary: #D84040;
    --color-secondary: #8E1616;
    --color-tertiary: #1D1616;
    --color-light: #EEEEEE;
    --color-dark: #333;

    --color-white: #fff;
    --color-black: #000;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--color-light);
}

.navbar {
    background-color: var(--color-dark);
}

.navbar-brand {
    color: var(--color-light);
}

.nav-link {
    color: var(--color-primary);
}

.footer {
    background-color: var(--color-dark);
    color: var(--color-light);

    & a {
        text-decoration: none;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}